genproductions/
*.lhe
plot_archive/
mg-Rhadron_mGl-1800/input-configs/*.xz
*.root
mg-Rhadron_mGl-1800/root-files/
plot_archive/
mg-Rhadron_mGl-1800/plots/
SMS-StopStop_mStop-1400/
SMS-StopStop_mStop-525/
CMSSW_Releases/
batch*
scripts/LHEEvents.py
scripts/coffea_script.py
scripts/header_list.py
scripts/plots/
condor/condor_submit_files/generate_gridpack_subfiles-HSCP*
run_directories/Run-3/stop-based/HSCP*
run_directories/Run-3/gluino-based/HSCP*